Package: com.bengerard.snapselect
Name: SnapSelect
Depends: mobilesubstrate
Version: 1.1
Architecture: iphoneos-arm
Description: An awesome MobileSubstrate tweak!
Maintainer: Ben Gerard
Author: Ben Gerard
Section: Tweaks
